.container-fluid{
    background-color: rgb(8, 7, 51);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;

}

li{
    margin-left: 1cm;
    border-radius: 5cm;
    padding:0.5cm;
    text-decoration-color: rgb(85, 44, 189);
    
}
.nav{
    position: relative;
    float:right;
}
#option{
    color: aliceblue;
    float:right;
}
li:hover{
    background-color: rgb(101, 47, 172);
    
}
#inquest{
    height: 1.5cm;

}


body{
   background-color: rgb(226, 224, 224);
}

